<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geermank.programacinavanzada111120">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".alarms.AlarmsActivity"></activity>
        <activity android:name=".broadcasts.BatteryLowActivity" />
        <activity android:name=".services.ChronometerActivity" />
        <activity android:name=".services.TimerActivity" />
        <activity android:name=".permissions.LocationActivity" />
        <activity android:name=".notifications.NotificationsActivity" />
        <activity
            android:name=".threads.BlockingTaskActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".dynamicfragments.UsersActivity" />
        <activity android:name=".staticfragments.StaticFragmentsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.TimerService" />
        <service android:name=".services.TimerIntentService" />
        <service android:name=".services.ChronometerService" />
    </application>

</manifest>